### 4 zajęcia "dopasowanie rozkładu do danych"

   Pierwszym krokiem jest ponownie pobranie danych z internetu. Cały czas pracujemy na rzekach.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
from bs4 import BeautifulSoup

URL = 'https://en.wikipedia.org/wiki/List_of_rivers_of_Belarus'
resp = requests.get(URL)
if resp.status_code == 200:
    soup = BeautifulSoup(resp.content,'html.parser')
    tab = soup.find('table',{'class':"wikitable"})
    df = pd.read_html(str(tab))[0]
df

              Name  Total, km  In Belarus, km
0    Dnieper River       2145             690
1    Western Dvina       1020             328
2      Neman River        937             459
3        Bug River        831             169
4    Pripyat River        761             495
5       Sozh River        648             493
6   Berezina River        613             613
7           Vilija        510             276
8           Ptsich        421             421
9          Shchara        325             325
10        Svislach        297             297

## Objaśnienie statysytczne

   Zanim przejdziemy do testów na rozkład normalny wyjaśnijmy co tak naprawdę testujemy i liczymy. W tym zadaniu zajumjemy się dwoma testami normalności danych Shapiro-Wilka oraz D’Agostino-Pearsona. W obu mamy identyczne hipotezy.
   
\begin{align}
    H_{0}: Próba\ pochodzi\ z\ populacji\ o\ rozkładzie\ normalnym. \\
    H_{1}: Próba\ nie\ pochodzi\ z\ populacji\ o\ rozkładzie\ normalnym.
\end{align}

   Dokumentacja języka Python mówi tylko tyle, że jeśli wynikowa p-wartość będzie mniejsza od 0,05 to odrzucamy hipotezę zerową i przyjmujemy alternatywną. Dlaczego mamy pewność że sprawdzając tylko jedną wartość jesteśmy pewni wyniku? Przejdźmy zatem do danych rzek i wybierzmy sobie dwie cechy, które mamy: długość w kraju oraz długość całkowitą. Oznaczmy odpowiednio przez X1, X2.

In [4]:
X1 = df['In Belarus, km'].values
X2 = df['Total, km'].values

print('Długość w kraju:   ', X1)
print('Długość całkowita: ', X2)

Długość w kraju:    [690 328 459 169 495 493 613 276 421 325 297]
Długość całkowita:  [2145 1020  937  831  761  648  613  510  421  325  297]

   Zaimportujmy potrzebne metody do testów, czyli .shapiro oraz .normaltest z modułu scipy.stats.

In [5]:
from scipy import stats

## Test Shapiro

In [7]:
print(stats.shapiro(X1))
print(stats.shapiro(X2))

ShapiroResult(statistic=0.9710095524787903, pvalue=0.8965332508087158)
ShapiroResult(statistic=0.7849349975585938, pvalue=0.005961146671324968)

   Jak widzimy wynikiem są dwie wartości. Pierwsza z nich to wartość statystyki wyliczana z następującego wzoru:
   
<img src="https://latex.codecogs.com/svg.image?W&space;=&space;[\sum_{i}^{}a_{i}(n)]^2" title="https://latex.codecogs.com/svg.image?W = [\sum_{i}^{}a_{i}(n)]^2" />

In [14]:
print(stats.normaltest(X1))
print(stats.normaltest(X2))

NormaltestResult(statistic=0.24357415555592887, pvalue=0.8853368563259909)
NormaltestResult(statistic=15.942408212758057, pvalue=0.00034526300211671366)
NormaltestResult(statistic=3.16095973313369, pvalue=0.20587628135300026)
NormaltestResult(statistic=6.699800103040207, pvalue=0.03508786090395246)