### 4 zajęcia "dopasowanie rozkładu do danych"

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
from bs4 import BeautifulSoup

URL = 'https://en.wikipedia.org/wiki/List_of_rivers_of_Belarus'
resp = requests.get(URL)
if resp.status_code == 200:
    soup = BeautifulSoup(resp.content,'html.parser')
    tab = soup.find('table',{'class':"wikitable"})
    df = pd.read_html(str(tab))[0]
df

              Name  Total, km  In Belarus, km
0    Dnieper River       2145             690
1    Western Dvina       1020             328
2      Neman River        937             459
3        Bug River        831             169
4    Pripyat River        761             495
5       Sozh River        648             493
6   Berezina River        613             613
7           Vilija        510             276
8           Ptsich        421             421
9          Shchara        325             325
10        Svislach        297             297

In [7]:
cecha = 'In Belarus, km'
X = df[cecha].values
X

array([690, 328, 459, 169, 495, 493, 613, 276, 421, 325, 297], dtype=int64)