### 4 zajęcia "dopasowanie rozkładu do danych"

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
from bs4 import BeautifulSoup

URL = 'https://en.wikipedia.org/wiki/List_of_rivers_of_Belarus'
resp = requests.get(URL)
if resp.status_code == 200:
    soup = BeautifulSoup(resp.content,'html.parser')
    tab = soup.find('table',{'class':"wikitable"})
    df = pd.read_html(str(tab))[0]
df

              Name  Total, km  In Belarus, km
0    Dnieper River       2145             690
1    Western Dvina       1020             328
2      Neman River        937             459
3        Bug River        831             169
4    Pripyat River        761             495
5       Sozh River        648             493
6   Berezina River        613             613
7           Vilija        510             276
8           Ptsich        421             421
9          Shchara        325             325
10        Svislach        297             297

In [11]:
X = df['In Belarus, km'].values
X2 = df['Total, km'].values
X3 = X / X2
X4 = X2 / X

print(X)
print(X2)
print(X3)
print(X4)

[690 328 459 169 495 493 613 276 421 325 297]
[2145 1020  937  831  761  648  613  510  421  325  297]
[0.32167832 0.32156863 0.48986126 0.20336943 0.65045992 0.76080247
 1.         0.54117647 1.         1.         1.        ]
[3.10869565 3.1097561  2.04139434 4.91715976 1.53737374 1.31440162
 1.         1.84782609 1.         1.         1.        ]

In [12]:
from scipy import stats

print(stats.shapiro(X))
print(stats.shapiro(X2))
print(stats.shapiro(X3))
print(stats.shapiro(X4))

ShapiroResult(statistic=0.9710095524787903, pvalue=0.8965332508087158)
ShapiroResult(statistic=0.7849349975585938, pvalue=0.005961146671324968)
ShapiroResult(statistic=0.8740819692611694, pvalue=0.08745361119508743)
ShapiroResult(statistic=0.8065976500511169, pvalue=0.011489590629935265)

In [14]:
print(stats.normaltest(X))
print(stats.normaltest(X2))
print(stats.normaltest(X3))
print(stats.normaltest(X4))

NormaltestResult(statistic=0.24357415555592887, pvalue=0.8853368563259909)
NormaltestResult(statistic=15.942408212758057, pvalue=0.00034526300211671366)
NormaltestResult(statistic=3.16095973313369, pvalue=0.20587628135300026)
NormaltestResult(statistic=6.699800103040207, pvalue=0.03508786090395246)